<!DOCTYPE html>
<html>

<head>

   <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.css">
    <link rel="stylesheet" href="/stylesheets/grader.css">
    <script async="true" data-main="/js/app/index" src="/js/lib/require.js"></script>

</head>
<body>
<div id="container">
    <div id="root"></div>
    <div id="popup" class="popup mfp-hide"></div>
    <div id="modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true"></div>

    <!--<div id="header">-->
        <!--<h1 class="text-center">Cal Poly Greek Life</h1>-->
        <!--<p class="text-center">Welcome to your new greek life app, Kathryn</p>-->
    <!--</div>-->
    <!--<div id="content"></div>-->
    <!--<div id="footer"></div>-->
</div>
</body>
</html>